svg {
    pointer-events: visiblePainted;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    position: absolute;
    top: 0;
    left: 0;
}

svg > * {
    pointer-events: none;
}

#board-container {
    padding-top: 70%;
}

.tile polygon {
    pointer-events: visiblePainted;
    fill: rgb(246, 246, 246);
    stroke: hsl(0, 0%, 70%);
    stroke-width: 0.3;
}

.tile polygon:hover {
    fill: rgb(195,225,227);
}

.tile.selected polygon {
    fill: #66CCFF;
}

.tile.movable polygon {
    fill: rgb(195,225,227);
}

.tile.movable polygon:hover {
    fill: #66CCFF;
}

.tile .emptyTile {
    fill: rgb(255, 255, 255);
    stroke: hsl(0, 0%, 70%);
    stroke-width: 0.5;
}
