svg {
    pointer-events: visiblePainted;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

svg > * {
    pointer-events: none;
}

.tile polygon,
.unselected {
    pointer-events: visiblePainted;
    fill: rgb(246, 246, 246);
    stroke: hsl(0, 0%, 70%);
    stroke-width: 0.3;
}

.selected {
    fill: #66CCFF;
}

.tile .emptyTile {
    fill: rgb(255, 255, 255);
    stroke: hsl(0, 0%, 70%);
    stroke-width: 0.5;
}

.tile polygon:hover { fill: rgb(195,225,227) !important; }
.tile circle {
    background: -moz-linear-gradient(top bottom, black, white);
}

.tile.active polygon {
    fill: #C3E1E3;
}